  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');


:root {
	--background: #1a1a1f;
	--stylish-font: 'Playpen Sans', cursive;
}

* {
	margin: 0;
	padding: 0;
	color: white;
}


body {
    background-color: var(--background); /* This is a light gray color */
}